* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.bgImage {
  background-image: url(bg-1\ \(1\).jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  filter: blur(4px);
  left: 0%;
  right: 0%;
  position: fixed;
  z-index: -1;
}

.navbar {
  padding: 10px;
  margin: 5px;
  filter: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "ABeeZee", sans-serif;
}
.button {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  filter: none;
  color: white;
  font-size: 13.5px;
  font-family: "ABeeZee", sans-serif;
  transition: 0.3s;
  padding: 13px;
  border-radius: 07px;
}
.button:hover {
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
}
.taglinebox {
  position: relative;
  margin-top: 300px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-200%);
}
.tagline {
  padding: 15px;
  font-family: "ABeeZee", sans-serif;
  color: white;
  background-color: rgba(13, 133, 133, 0.707);
  border-bottom: transparent;
  border-radius: 7px;
  text-align: center;
}

.signInbox {
  margin-top: 17px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  background-color: #1f8a0e;
}
.signup {
  background-color: #c41515;
}
.boxButton {
  margin-inline: 40px;
  padding: 12px;
  font-size: 18px;
  color: white;
  width: 122.5px;
  text-align: center;
  transition: 0.3s;
  border-radius: 7px;
  mix-blend-mode: normal;
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.25),
    inset 01px 5px 6px rgba(0, 0, 0, 0.25);
  font-family: "ABeeZee", sans-serif;
  border: 1px solid black;
}
.boxButton:hover {
  cursor: pointer;
  font-weight: bolder;
  font-size: 23px;
}
